<div class="filter-wrap">
  <h3 class="filter-title">Filtrar</h3>
  
  <ul class="filter-list" id="ownership-filter">
    <%= filter_link("Público", :ownership, "centro_publico") %>
    <%= filter_link("Privado", :ownership, "centro_privado") %>
    <%= filter_link("Concertado", :ownership, "centro_concertado") %>
  </ul>
  
  <ul class="filter-list" id="mode-filter">
    <%= filter_link("Presencial", :mode, "presencial") %>
    <%#= filter_link("No Presencial", :mode, "mode__no_presencial") %>
  </ul>
  
  <% if @available_filters.keys.include?(:levels) %>
  <ul class="filter-list" id="level-filter">
    <% @available_filters[:levels].each do |level| %>
      <% next if level.nil? || level.strip.empty? %>
      <%= filter_link(level, :level, Teaching.filter_tag_value(level)) %>
    <% end -%>
  </ul>  
  <% end -%>
  
  <% if @available_filters.keys.include?(:teachings) %>
  <ul class="filter-list" id="teaching-filter">
    <% @available_filters[:teachings].each do |teaching| %>
      <% next if teaching.nil? || teaching.strip.empty? %>
      <%= filter_link(teaching, :teaching, Teaching.filter_tag_value(teaching)) %>
    <% end -%>
    <% if false %><li class="teaching-expand"><a href="">&laquo; Ver todos &raquo;</a></li><% end -%>
  </ul>
  <% end -%>
  
  <% if @available_filters.keys.include?(:province) %>
  <ul class="filter-list" id="province-filter">
    <% @available_filters[:province].each do |province| %>
      <% next if province.nil? || province.strip.empty? %>
      <%= filter_link(province, :province, Centre.filter_tag_value(province)) %>
    <% end -%>
    <% if false %><li class="province-expand"><a href="">&laquo; Ver todos &raquo;</a></li><% end -%>
  </ul>
  <% end -%>
  
  <% if @available_filters.keys.include?(:locality) %>
  <ul class="filter-list" id="town-filter">
    <% @available_filters[:locality].each do |locality| %>
      <% next if locality.nil? || locality.strip.empty? %>
      <%= filter_link(locality, :locality, Centre.filter_tag_value(locality)) %>
    <% end -%>
    <% if false %><li class="town-expand"><a href="">&laquo; Ver todos &raquo;</a></li><% end -%>
  </ul>
  <% end -%>
  
</div>