<div class="info-box">
  <div class="map-box">
    <iframe class="map" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.es/maps?f=q&amp;source=s_q&amp;hl=es&amp;q=<%= @centre.full_address %>&amp;z=15&amp;output=embed"></iframe>
  </div>

  <div class="info-title">
    <h3 class="name"><%= titleize_string(@centre.denomination) %></h3>
    <h4 class="titularidad"><%= titleize_string(@centre.ownership) %></h4>
    <h4 class="type"><%= titleize_string(@centre.centre_type) %></h4>
  </div>
  
  <div class="info-text">
    
    <h4 class="title1"></h4>
    <ul class="where">
      <% if !@centre.county.blank? %><li class="learning-simple"><%= titleize_string(@centre.county) %></li><% end -%>
      <li class="learning-simple"><%= titleize_string(@centre.locality) %></li>
      <li class="learning-simple"><%= titleize_string(@centre.address) %></li>
      <li class="learning-simple"><%= @centre.postal_code %></li>
    </ul>
    
    <% unless @centre.teachings.empty? %>
    <h4 class="title1">Enseñanzas impartidas</h4>
    <ul class="learning">
      <% @centre.teachings_without_level.each do |teaching| %>
        <li class="learning-simple"><%= titleize_string(teaching.teaching) %></li>
      <% end -%>
      
      <% @centre.grouped_teachings_by_level.each do |level, teachings| %>
        <li class="learning-grade">
          <%= level %>
          <ul class="learning-sublist">
            <% teachings.each do |teaching| %>
            <li><%= titleize_string(teaching.teaching) %></li>
            <% end -%>
          </ul>
        </li>
      <% end -%>
    </ul>
    <% end -%>
  </div> <!--fin de info-text-->
  <% if false %>
  <div class="coments">
    <h3>Comentarios</h4>
      <div class="coment-box">
        <p class="coment-name"></p>
        <p class="coment-text"></p>
      </div>
    </div>
  </div>
  <% end -%>
</div> <!-- .info-box -->